@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
}
body { 
    box-sizing: border-box;
    background-color: #f1ebeb;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 40px;
    padding-bottom: 17px;
}

.top {
    background-color: #8f8b8b;
    /* background-color: #c8a3d6; */
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.search-bar {
  width: 350px;
  height: 8px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 10px;
  margin: 0 auto;
}

.search-icon {
  font-size: 20px;
  color: #777;
}

input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.images {
    /* max-width: 70rem;
    margin: 4rem auto; */
    max-width: 98%;
    margin: 15px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-auto-rows: 500px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}